/* selectores por etiqueta */
body{
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'O,pen Sans Condensed', sans-serif;
    font-size: 16px;
    background-color: darkgrey;
    background-color: #b9dbcb;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23104e44' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
}

nav {
    width: 95%;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: dashed ;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #008CBA;
    color: black;
    border:none;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    margin: 4px;
    transition-duration: 0.4s;
}
button:hover{
    cursor: pointer;
    background-color: #65c5e6;
    color: black;
    border: 2px solid #008CBA;
}

/* ------------selectores por clase------------------*/
.titleConteiner {
    display: flex;
    justify-content: center;
}
.titleConteiner h1 {
    font-size: 2em;
    margin-bottom: -30px;
    margin-top: 10px;
}
.itemsConteiner{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    height: fit-content;
}

.itemsConteiner ul {
    margin: 0;
    padding: 0px;
    width: fit-content;
}
.svg{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    width: 80%;
    height: 80%;
    }
.stop {
    width: 35px;
    height: 35px;
 }

/* selectores por clase */

.hide {
    display: none;
}
.menuFlotante{
    position: absolute;
    top:200px;
    left: 23%;
}

.contentMenuFlotante {
    background-color: rgba(255, 255, 255, 0.637);;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 400px;
    min-height: 250px;
    align-items: center;
    border: 0.5px black solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #666;
}
.game{
    display: flex;
    justify-content: center;
    margin-top: 30px;
} 
.gameBoard {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 757px;
    height: 600px;
    max-height: 650px;
    border: black 0.5px double;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #666;
    background-color: #399645;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23a3c4b3' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
}
/*Selectores de botones*/
.b1 {
    fill: #649d66;   
}
.b2 {
    fill: #11144c;   
}
.b3 {
    fill: #f62a66;   
}
.b4 {
    fill: #fabc60;   
}
.b5 {
    fill: #00a8cc;   
}
.b6 {
    fill: #3a9679;   
}
.b7 {
    fill: #ff6600;   
}
 .b8 {
    fill: #e16262;   
}

/* .b1:hover {
    cursor: pointer;   
}
.b2:hover {
    cursor: pointer;  
}
.b3:hover {
    cursor: pointer;   
}
.b4:hover {
    cursor: pointer;   
}
.b5:hover {
    cursor: pointer;   
}
.b6:hover {
    cursor: pointer; 
}
.b7:hover {
    cursor: pointer;   
}
.b8:hover {
    cursor: pointer;  
} */
---------------------------------------
.b1.light {
    fill: #b1d1b2;   
}
.b2.light {
    fill: #5d609b;   
}
.b3.light {
    fill: #c08898;   
}
.b4.light {
    fill: #f3debf;   
}
.b5.light {
    fill: #93e4f7;   
}
.b6.light {
    fill: #9bdfc9;   
}
.b7.light {
    fill: #f1b389;   
}
 .b8.light {
    fill: #f0b1b1;   
}

.cuadrado {
    fill:#fe8a71;
    fill-opacity:1;
    stroke:#140000;
    stroke-width:5.20907;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
}
.stop:hover {
    cursor: pointer;
}